body{
    background: #f2f2f2;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#container{
    width: 720px;
    margin: 0 auto;
    background: #fff;
}
#marca{
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;

}
#conteudo{
    width: 520px;
    float: right;

}
#conteudo-principal{
    width: 320px;
    float: left;
}
#conteudo-secundario{
    width: 180px;
    float: right;
    background: #d1d1d1;
}
#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p{
    padding-left: 20px;
    padding-right: 20px;
}
#navegacao{
    float: left;
    width: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;

}
#rodape{
    clear:both;
    background: #c4c4c4;
    padding: 5px;
    text-align: center;
    

}

#navegacao ul{
    list-style-type: none;
}
#navegacao ul a{
    text-decoration: none;
    color: aquamarine;
    font-size: 1.5em;
}
#navegacao ul a:hover{
    background: aquamarine;
    color: aqua;
}
